*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: snow;
}

h1{
    text-align: center;
    color: darkslategrey;
    padding-top: 10px;
}

hr{
    color: darkslategray;
}

#out{
    padding-right: 500px;
}